.register-container{
        background-color: darkblue;
        color: white;
        width: 35%;
    }
    @media screen and (max-width: 768px) {
        .register-container{
            width: 100%;
       
        }
    }