
.navbar{
    background-color: rgb(110, 110, 238);
}
.dark{
 
    background-color: black;
    color: white;
}
.light {
   background-color: azure;
   color: black;
}
.toggle-btn{
    border-radius: 10px;
    padding: 0 10px;
}
.navbar a { 
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin: 0 20px;
    
}
.navbar a:hover{
  
    color: burlywood;
}