.courses{
    background-color: rgb(205, 215, 235);
}
.nav-container{
    
    padding: 20px;
    position: sticky;
    top:40px;
    background-color: rgb(20, 20, 73);

}

.course-container{
display: grid;
grid-template-columns: repeat(2,1fr );
gap: 10px;
margin-top: 40px;

}

@media screen and (max-width: 768px) {
    .course-container{
        grid-template-columns: 1fr;
    }
}