.courses{
    background-color: rgb(168, 187, 223);
}
.nav-container{
    
    padding: 20px;
    position: sticky;
    top:40px;
    background-color: darkblue;

}

.course-container{
display: grid;
grid-template-columns: repeat(2,1fr );
gap: 10px;
margin-top: 40px;

}

@media screen and (max-width: 776px) {
    .course-container{
        grid-template-columns: 1fr;
    }
}